<div class="registrationForm">
  <svg class="registrationFormBorder"><path d="M 0 0 L 809.989990234375 0 L 809.989990234375 434.5334167480469 L 0 434.5334167480469 L 0 0 Z"></path>
  </svg>
  <table class="registrationFormTable" id="registrationFormTable" *ngIf="!newRegistered">
    <tr>
      <th>
            <span class="registrationFormTableTH">
              Registration
            </span>
      </th>
      <th>

      </th>
    </tr>
    <tr>
      <td>
            <span class="registrationFormTableTD">
              E-Mail:
            </span>
      </td>
      <td>
        <input type="text" id="e-mailInput">
      </td>
    </tr>
    <tr>
      <td>
            <span class="registrationFormTableTD">
              Username:
            </span>
      </td>
      <td>
        <input type="text" id="usernameInput">
      </td>
    </tr>
    <tr>
      <td>
            <span class="registrationFormTableTD">
              Password:
            </span>
      </td>
      <td>
        <input type="text" id="passwordInput" type="password">
      </td>
    </tr>
    <tr>
      <td>
            <span class="registrationFormTableTD">
              Repeat Password:
            </span>
      </td>
      <td>
        <input type="text" type="password">
      </td>
    </tr>
    <tr>
      <td>
            <span class="registrationFormTableTD">
              Organisation:
            </span>
      </td>
      <td>
        <input type="text" id="organisationInput">
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <button (click)="register()">Submit</button>
      </td>
    </tr>
  </table>
  <span *ngIf="newRegistered" class="registeredSpan">Thank you for you registration!</span>
</div>
