
.searchField{
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  margin-top: 120.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 15.00px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 19.00px;
  border-top-right-radius: 19.00px;
  border-bottom-left-radius: 19.00px;
  border-bottom-right-radius: 19.00px;
  box-shadow: none;
  width: 100%;
  height: 67.00px;
  top: 20px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 30.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Arial;
  text-decoration: none;
}

.overlay-box {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 1000;
}

.searchField::placeholder{
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(0, 0, 0, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 30.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Arial;
  text-decoration: none;
  box-shadow: none;
}
