<div class="impressumOuterDiv">
  <span class="headSpan">
    Impressum<br /><br />
  </span>
  <span class="infoSpan">
    Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.
    <br /><br />
  </span>
  <span class="addressSpan">
    MyCompetence
    <br />Altenbergerstraße 69,
    <br />4040 Linz,
    <br />Österreich
    <br />
  </span>
  <span class="infoSpan">
    <br />01234/56789
    <br />office@mycompetence.com<br />
    <br />Unternehmensgegenstand: IT Dienstleistungen Mitglied bei: WKO, Oberösterreich
    <br />UID-Nummer: ATU12345678 Berufsrecht: Gewerbeordnung: www.ris.bka.gv.at
    <br />Firmenbuchnummer: 123456a Aufsichtsbehörde: Magistrat Linz
    <br />Firmenbuchgericht: Linz Berufsbezeichnung: Studenten
    <br />Firmensitz: 4040 Linz Verleihungsstaat: Österreich <br />
    <br />Vertretungsbefugte Gesellschafter
    <br />Christoph Burghuber, Daniela Hader, Rudolf Hanl, Benedikt Lichtnecker
  </span>
</div>
